<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>목록</title>
</head>
<body>
   <p th:text="${totalCount}"></p>
   <table>
      <tr>
         <th>이름</th>
         <th>주소</th>
      </tr>
      <tr th:each="item : ${items}">
         <td>
            <a th:text="${item.title}"
               th:href="@{|/tourist/detail/${item.contentId}|}"></a>
         </td>
         <td th:text="${item.addr1}"></td>
      </tr>
   </table>

   <div>
      <a th:if="${nowPage > 1}" th:href="@{/tourist/list/{pageNo}(pageNo = ${nowPage - 1}, keyword = ${param.keyword})}">◀</a>
      <a th:each="num : ${#numbers.sequence(startPage,endPage)}" 
         th:href="@{/tourist/list/{pageNo}(pageNo = ${num}, keyword = ${param.keyword})}"
         th:text="${num}"></a>
      <a th:if="${endPage < totalPage}" th:href="@{/tourist/list/{pageNo}(pageNo = ${nowPage + 1}, keyword = ${param.keyword})}">▶</a>
   </div>
</body>
</html>