<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{fragments/template/resource :: head}"/>
	<title></title>
</head>
<body>
	
	<div th:replace="~{fragments/template/navigation :: mobile}"/>
  	<nav th:replace="~{fragments/template/navigation :: nav}"/>
  	<div th:replace="~{fragments/template/intro :: 
      intro('',
      '당신이 무엇을 생각하느냐에 따라 당신은 그것이 됩니다. - 마하트마 간디')}"/>
		<div class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">Let's Enjoy Your</span> Trip In <span class="typed-words"></span></h1>

						<div class="row">
							<div class="col-12">
								<form class="form">
									<div class="row mb-2">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<select name="" id="" class="form-control custom-select">
												<option value="">Region Type</option>
												<option value="">서울</option>
												<option value="">강원특별자치도</option>
												<option value="">인천</option>
												<option value="">충청북도</option>
												<option value="">충청남도</option>
												<option value="">대전</option>
												<option value="">대구</option>
												<option value="">경상북도</option>
												<option value="">광주</option>
												<option value="">경상남도</option>
												<option value="">부산</option>
												<option value="">전라북도</option>
												<option value="">울산</option>
												<option value="">전라남도</option>
												<option value="">세종특별자치시</option>
												<option value="">제주도</option>
												<option value="">경기도</option>
											</select>
										</div>							
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<select name="" id="" class="form-control custom-select">
												<option value="">Tourist Type</option>
												<option value="">관광지</option>
												<option value="">문화시설</option>
												<option value="">축제공연행사</option>
												<option value="">여행코스</option>
												<option value="">레포츠</option>
												<option value="">숙박</option>
												<option value="">쇼핑</option>
												<option value="">음식점</option>
											</select>
										</div>										
									<div class="row align-items-center">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<input type="submit" class="btn btn-primary btn-block" value="Search">
										</div>
									</div>    
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="slides">
						<img src="images/hero-slider-1.jpg" alt="Image" class="img-fluid active">
						<img src="images/hero-slider-2.jpg" alt="Image" class="img-fluid">
						<img src="images/hero-slider-3.jpg" alt="Image" class="img-fluid">
						<img src="images/hero-slider-4.png" alt="Image" class="img-fluid">
						<img src="images/hero-slider-5.png" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/template/footer :: footer}"></div>
   	<div th:replace="~{fragments/template/resource :: js}"/></div>
</body>
<script>
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["Seoul"," Busan"," Incheon", "Daejeon", " Changwon"],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})
	</script>
</html>