<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <link rel="stylesheet" th:href="@{css/styles.css}">
   <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
      rel="stylesheet">
   <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
   <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
   <link
      th:href="@{https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Red+Hat+Mono:wght@300&display=swap}"
      rel="stylesheet">
   <div th:replace="~{fragments/template/resource :: head}" />
   <title>Weather</title>
</head>

<body>
   <div th:replace="~{fragments/template/navigation :: mobile}" />
   <nav th:replace="~{fragments/template/navigation :: nav}" />
   <div th:replace="~{fragments/template/intro :: 
      intro('Weather',
      '')}" />
   <script th:src="@{js/javascript.js}" defer></script>
   <div class="hero">
   <div class="weather">
      <div class="search">
         <input type="text" class="search-bar" placeholder="Search">
         <button class="search-button"><i class="fa fa-search"></i></button>
      </div>
      <div class="weather-conition">
         <h2 class="city">Weather in Bishkek, KG</h2>
         <h1 class="temp">15.7°C</h1>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon">
         <p class="description">Modarate rain</p>
         <p class="humidity">Humidity: 97%</p>
         <p class="wind">Wind speed: 7.23 km/h</p>
         <p class="lon">Longtitude: -122.08</p>
         <p class="lat">Latitude: 37.39</p>
      </div>
   </div>
   <br>
   <div class="fiveday">
      <div class="first1">
         <h2 class="bir">Monday</h2>
         <p class="date1">2022-01-04</p>
         <h2 class="first">27.3°C</h2>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon1">
      </div>
      <div class="second2">
         <h2 class="eki">Tuesday</h2>
         <p class="date2">2022-01-05</p>
         <h2 class="second">27.3°C</h2>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon2">
      </div>
      <div class="third3">
         <h2 class="uch">Wendnesday</h2>
         <p class="date3">2022-01-06</p>
         <h2 class="third">27.3°C</h2>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon3">
      </div>
      <div class="fourth4">
         <h2 class="tort">Thursday</h2>
         <p class="date4">2022-01-07</p>
         <h2 class="fourth">27.3°C</h2>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon4">
      </div>
      <div class="fifth5">
         <h2 class="besh">Friday</h2>
         <p class="date5">2022-01-08</p>
         <h2 class="fifth">27.3°C</h2>
         <img th:src="@{https://openweathermap.org/img/wn/04n@2x.png}" alt="" class="icon5">
      </div>
   </div>
   </div>
   <div th:replace="~{fragments/template/footer :: footer}"></div>
</body>

</html>