<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="UTF-8">

<header class="vNLCu t z jDZco Za">
	<div class="IDaDx mvTrV cyIij fluiI SMjpI">
		<nav class="fVxBw u">
			<div class="pCeGb u">
				<a class="pBcSw F0 wSSLS" href="/">
					<picture>
						<img class="BMuGb" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_logoset_solid_green.svg" alt="Tripadvisor">
					</picture>
					<picture>
						<img class="XpHHt" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="Tripadvisor">
					</picture>
				</a>
					</div>
					<div class="YthFL">
						<div class="dvzAT QA c">
							<div class="f u" data-automation="topNav_discover">
								<div class="JLKop w">
									<button class="rmyCe _G B- z _S c Wc wSSLS jWkoZ InwKl" type="button">
										<span class="biGQs _P ttuOS">살펴보기</span>
									</button>
								</div>
							</div>
							<div class="f u Pa PX Pn PJ" data-automation="topNav_trips">
								<a href="/Trips" class="BMQDV _F Gv wSSLS SwZTJ FGwzt ukgoS">
									<div class="biGQs _P ttuOS">여행 계획 세우기</div>
								</a>
							</div>
							<div class="f u" data-automation="topNav_community">
								<div class="JLKop w">
									<button class="rmyCe _G B- z _S c Wc wSSLS jWkoZ InwKl" type="button">
										<span class="biGQs _P ttuOS">커뮤니티</span>
									</button>
								</div>
							</div>
							<div class="f u" data-automation="topNav_more">
								<div class="JLKop w">
									<button class="rmyCe _G B- z _S c Wc wSSLS jWkoZ InwKl" type="button">
										<span class="biGQs _P ttuOS">더 보기</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="qzAgN QA c">
						<div></div>
						<a class="rmyCe _G B- z _S c Wc wSSLS w jWkoZ sOtnj"
						 href="/RegistrationController?flow=sign_up_and_save&amp;returnTo=%2F&amp;fullscreen=true&amp;flowOrigin=login&amp;hideNavigation=true&amp;isLithium=true">
							<span class="biGQs _P ttuOS">로그인</span>
						</a>
					</div>
				</nav>
			</div>
		</header>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							