<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <div th:replace="~{fragments/template/resource :: head}" />
   <title>북마크 목록</title>
</head>
<body>
   <div th:replace="~{fragments/template/navigation :: mobile}" />
   <nav th:replace="~{fragments/template/navigation :: nav}" />
   <div th:replace="~{fragments/template/intro :: 
      intro('마이 페이지','')}" />

      

   <div th:replace="~{fragments/template/footer :: footer}"></div>
   <div th:replace="~{fragments/template/resource :: js}" />
</body>
</html>