<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/template/resource :: head}" />
  <title>마이 페이지</title>
</head>
<style>
  .untree_co-section {
    background-color: lightgray;
  }
</style>

<body>
  <div th:replace="~{fragments/template/navigation :: mobile}" />
  <nav th:replace="~{fragments/template/navigation :: nav}" />
  <div th:replace="~{fragments/template/intro :: intro('마이 페이지', '당신이 무엇을 생각하느냐에 따라 당신은 그것이 됩니다. - 마하트마 간디')}" />
  <div class="untree_co-section">
    <div class="container">
      <div class="untree_co-section">
        <div class="container my-5">
          <!-- Add your content here if needed -->
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-4 order-lg-1">
          <div class="h-100">
            <div class="frame h-100">
              <div class="feature-img-bg h-100"
                th:style="'background-image: url(' + @{/images/hero-slider-1.jpg} + ');'"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
			<hr>
          <h2 class="text-left mb-4">비밀번호 변경</h2>
          <form action="/changePw" method="POST">
            <div class="form-group">
              <label for="currentPassword" class="text-black">현재 비밀번호</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="form-group">
              <label for="newPassword" class="text-black">변경 비밀번호</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="text-black">비밀번호 확인</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="text-danger" th:if="${param.error}">비밀번호 변경에 실패했습니다.</div>
            <button type="submit" class="btn btn-primary" >변경</button>
            <a class="btn btn-primary" th:href="@{/member/mypage}">취소</a>
          </form>
          <hr>
			<div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>