<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/template/resource :: head}" />
  <title>마이 페이지</title>
</head>

<style>
  .col-lg-5 {
    border-left: 1px solid black;
    /* 왼쪽에 검은 선 추가 */
    border-right: 1px solid black;
    /* 오른쪽에 검은 선 추가 */
    padding: 10px;
    /* 올바른 간격을 설정해야 합니다. */
  }

  .untree_co-section {
    background-color: lightgray;
  }
</style>

<body>
  <div th:replace="~{fragments/template/navigation :: mobile}" />
  <nav th:replace="~{fragments/template/navigation :: nav}" />
  <div th:replace="~{fragments/template/intro :: 
      intro('마이 페이지',
      '당신이 무엇을 생각하느냐에 따라 당신은 그것이 됩니다. - 마하트마 간디')}" />

  <div class="untree_co-section">
    <div class="container">
      <div class="untree_co-section">
		  <hr>
        <div class="container my-5">
          <h1>마이 페이지</h1>
          <table>
            <tr>
              <p th:text="${realname} + '님 안녕하세요 '"></p>
            </tr>
          </table>
        </div>
        <hr>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-4 order-lg-1">
          <div class="h-100">
            <div class="frame h-100">
              <div class="feature-img-bg h-100"
                th:style="'background-image: url(' + @{/images/hero-slider-1.jpg} + ');'"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
			<hr>
          <h2 class="text-left mb-4">나의</h2>
			<hr>
          <div class="list-unstyled two-col clearfix">
            <!-- Remove the list items and use divs instead -->
            <div><a th:href="@{/mypage/memberInfo}">정보</a></div>
            <div><a th:href="@{/mypage/myInfoModify}">비밀번호 변경</a></div>
            <div><a th:href="@{/mypage/bookMarkList}">북마크 목록</a></div>
            <div><a th:href="@{/mypage/myLike}">좋아요 목록</a></div>
            <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
          <div>　</div>
            <hr>
          </div>
        </div>

        <p>　　　　　　　　　　</p>

      </div>

    </div>
  </div>
  </div>
</body>

</html>