<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/template/resource :: head}" />
  <title>회원 수정</title>
</head>
<body>
  <div th:replace="~{fragments/template/navigation :: mobile}" />
  <nav th:replace="~{fragments/template/navigation :: nav}" />
  <div th:replace="~{fragments/template/intro :: intro}" />
  
  <div class="untree_co-section">
    <div class="container">

      <div class="row text-center justify-content-center mb-5">
				<div class="col-lg-7">
          <h2 class="section-title text-center">회원 수정</h2>
        </div>
			</div>

      <form method="post" th:action="@{/member/info/edit}" th:object="${memberDTO}" class="contact-form aos-init aos-animate">
        
        <div class="form-group">
          <label for="realname" class="text-black">이름</label>
          <input type="text" th:field="*{realname}" th:value="${memberDTO.realname}" class="form-control"/>
        </div>

        <div class="row">
          <div class="col-6 form-group">
            <label for="password" class="text-black">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control"/>
          </div>

          <div class="col-6 form-group">
            <label for="passwordConfirm" class="text-black">비밀번호 확인</label>
              <input type="password" th:field="*{passwordConfirm}" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="text-black">Email</label>
          <input type="email" th:field="*{email}" th:value="${memberDTO.email}" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">수정</button>
      </form>
    </div>
  </div>

  <div th:replace="~{fragments/template/footer :: footer}"></div>
  <div th:replace="~{fragments/template/resource :: js}" />
</body>
</html>